.app {
  width: 100%;
  height: 100%;
}

.ant-layout-header {
  background: #001529;
  line-height: 64px;
}

.ant-layout-content {
  margin: 24px 0 0;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}
